<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".ThiltapesApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Thiltapes"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".CriarEditarJogoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".GerenciarJogosActivity"
            android:exported="false"
            android:label="@string/titulo_gerenciar_jogos" />

        <activity
            android:name=".InventarioActivity"
            android:exported="false"
            android:label="@string/btn_inventario" />

        <activity
            android:name=".InicioActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ListaJogosActivity"
            android:exported="false"
            android:label="@string/btn_mapa_jogo" />

        <activity
            android:name=".MapaJogoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />
    </application>

</manifest>
